<link rel="import" href="../bootstrap-css.html">
<template id="iot-strip-template" iot-custom-web-component>
  <style>
    .office-name {
      font-size:2em;
    }
  </style>
  <div class="row" style="text-align:center;">
    <div class="panel panel-default" style="min-height:28em">
      <div class="panel-heading">
        <span class="panel-title office-name"></span>
      </div>
      <div class="panel-body info-card">
      </div>
    </div>
  </div>
</template>
<script src="iot-strip.js"></script>